.main{
  /* background-color: #40363a; */
  /* background-color: "#4c596f"; */
  min-height: 100vh;
  height: 100%;
  padding: 30px;
}

:root {
  --primary-color: #FFE81F;
}

*::selection {
  color: #ffffff;
  background: var(--primary-color);
}

button:focus{
  outline: none;   
}

a{
  color: #74696d;
  font-size: large;
}

a:hover{
  color: #74696d;
  border-bottom: 1px solid #74696d;
}

.titleH{
  margin-bottom: 50px;
}

.library svg{
  margin-left: auto;
  display: block;
}
.library svg:hover{
  color: #FFE81F;
  cursor: pointer;
}

.library{
  background-color: transparent;
  border: none;
}

.planetWidgetContainer {
  margin: 20px 0;
}

.widget {
  background-color:#a8a2a3;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0;
}

.widget h3, .widget h2{
  text-align: center;
}

.widgetExample {
  background-color:#74696d;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0;
}

.object{
  border: 3px solid #a8a2a3;
  border-radius: 20px;
  padding: 20px;
  color: #a8a2a3;
  font-size: large;
  background-color: #323232;
}

.object h1{
  margin-bottom: 40px;
}

.search{
  border-radius: 8px;
  padding: 8px;
  background-color: #a8a2a3;
}

.mainWidget{
  height: 400px;
}

.mainWidget:hover{
  opacity: .8;
  cursor: pointer;
}

.mainWidget img{
  margin: auto;
  display: block;
}

.changeSide{
  margin-left: auto;
  display: block;
  width: fit-content;
}

.changeSide img{
  max-width: 100px;
  padding: 15px;
}

.changeSide img:hover{
  cursor: pointer;
  opacity: 0.5;
}

.bigArrow{
  font-size: 52px;
  color: #FFE81F;
}

.logoRepublic{
  font-size: 140px;
  padding: 20px;
}

.svg-fixed{
  height: auto;
  position: fixed;
  bottom: 0;
  right: 40px;
  opacity: .2;
  z-index: 0;
}

.deg270{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: auto;
  display: block;
  font-size: 52px;
  color: #FFE81F;
}

.deg90{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: auto;
  display: block;
  font-size: 52px;
  color: #FFE81F;
}

.deg90:hover, .deg270:hover{
  cursor: pointer;
}

.invisible{
  display: none;
}

.visible .row{
  margin: 30px;
}

.arrow{
  font-size: 36px;
  color: #FFE81F;
}

.arrowRight{
  font-size: 36px;
  color: #FFE81F;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}
.yourLibrary{
  margin-bottom: 40px;
}

.yourLibrary svg{
  font-size: 48px;
}

.yourLibrary svg:hover{
  opacity: .5;
  cursor: pointer;
}

.libraryButton button{
  background-color: transparent;
  border: none;
}

.disable svg{
  color: #FFE81F
}

.widgetStarships{
  height: 190px;
}

.sideIcon{
  font-size: 60px;
}

.logo{
  max-width: 100px;
  margin-left: 10%;
  margin-top: 20px;
}

.navbar{
  margin-bottom: 100px
}


/*-----------------loadnig animation-----------------------*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media (max-width: 767px) {
  .svg-fixed{
    right: 10px;
  }

  .widgetExampleContainer{
    padding-left: 0;
    padding-right: 0;
  }
  .widgetExampleContainer .visible .row{
    margin: 0;
  }
  .arrow, .arrowRight{
    display: none;
  }

  .logo{
    margin-left: 0;
    max-width: 60px;
  }

  .changeSide{
    margin-top: 20px;
  }

  .displayNone{
    display: none;
  }
}
